header a {
  color: #ffffff;
  padding: 5px;
}
.nav-wrapper {
}
a:hover {
  border: 1px solid #fff;
  color: #fff;
}

.nav-search-field {
  padding: 10px 4px 10px 3px;
  height: 60px;
}
.nav-search-field input {
  height: 40px;
  max-width: 600px;
}

.nav-belt {
  display: flex;
  /* width: 90%; */
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  background-color: #131211;
  height: 60px;
}
.nav-right {
  display: flex;
}
ul {
  display: flex;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

select {
  height: 40px;
  max-width: 100px;
  background-color: #d4d4d4;
  font-size: 14px;
}
.select {
}

.navbar-left {
  display: flex;
}
.nav-fill {
  display: flex;
  height: 40px;
  border: solid 1px;
  justify-content: space-between;
  align-items: center;
}
input[type="submit"] {
  height: 40px;
  border: none;
  width: 45px;
  background-color: #f3a847;
  display: none;
}
.deliver-location {
  width: 96px;
}

.nav-search-field input[type="text"] {
  width: 600px;
  border-inline: none;
}
.search-icon {
  width: 20px;
  height: 20px;
}
.nav-main {
  background-color: #232f3e;
  display: flex;
  align-items: center;
  height: 40px;
}
ul {
  padding: 0;
  margin: 0;
}
.nav-main li {
  padding-inline-start: 20px;
  justify-content: space-between;
}
.brand {
  padding: 20px;
  width: 100px;
}

.navbar-left {
  align-items: center;
}
.nav-right {
  align-items: center;
}
.search-bar-form {
  box-shadow: 0 0 0 2px, #1a98ff, 0 0 0 3px rgba(26, 125, 255 0.5);
  z-index: 1;
}
